<!-- passwordRecovery -->
<template name="passwordRecovery">
  <div class="container">
    {{#if resetPassword}}
         <form id="new-password" action="action" data-parsley-validate>
            <div class="form-group">
              <label for="password">Enter new Password</label>
              <input type="password" class="form-control" id="password" placeholder="Password" data-parsley-minlength="6" data-parsley-required="true">
            </div>
            <div class="form-group">
              <label for="password">Renter New Password</label>
              <input type="password" class="form-control" id="password2" placeholder="Password" data-parsley-minlength="6" data-parsley-required="true">
            </div>
            <button type="submit" class="btn btn-primary">Change Password</button>
          </form>
      {{else}}
          <form id="recovery-form" action="action" data-parsley-validate>
            <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" class="form-control" id="email" placeholder="Email" data-parsley-required="true" autofocus>
            </div>

            <button type="submit" class="btn btn-primary">Send Recovery link{{err}}</button>
            <div class="pull-right"><a href="/"><button class="btn btn-danger">Go Back</button></a></div>

          </form>
      {{/if}}
  </div>
</template>